@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Quicksand:wght@300;400&display=swap');


body {
    background-color: white;
    color: #515A5A;
    font-family: montserrat, sans-serif;
    font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: montserrat, sans-serif;
    margin-bottom: 20px;
}

h1 {
    background-color: #B4C9CB;
    padding: 20px;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Montserrat Subrayada', sans-serif;
    text-align: right
}

h2 {
    font-size: 22px;
    font-weight: bold;

}

p {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 20px;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
}

a {
    color: black;
    text-decoration: none;

}

a:hover {
    text-decoration: underline;

}

a:visited {}

a:active {
    color: darkblue;
}

.wrapper {
    width: 980px;
    margin: 0 auto;
}

header {
    background-color: white;
    height: 200px;
}

nav {}

nav ul {}

nav ul li {
    display: inline;
    margin-right: 100px;
}

nav au li a {
    text-decoration: none;
    padding: 10px 15px;
    text-transform: uppercase;
}

nav au li a:hover {
    background-color: darkgrey;
    text-decoration: none;
}

nav au li a.currentpage {
    background-color: darkgrey;
    text-decoration: none;
}

.hero {
    min-height: 300px;
    background-image: url(../images/churchill-house-4.jpg);
    background-color: #F5F5F5;
    background-size: cover;
    background-position: bottom;
}

main {
    background: #B4C9CB;
    padding: 20px;
    overflow: auto;
}

.text-container {
    width: 80%;

}

footer {
    padding: 20px;
    background-color: #F5F5F5;
}

footer p {
    font-size: 14px;
    color: dimgray;
}

.leftimg {
    width: 50%;
    border: 10px solid white;
    padding: 10px;
    background-color: white;
    margin: 20px 20px;


}
